node_modules
.next
.git
.github
npm-debug.log
*.log
.env*
prisma/dev.db
prisma/dev.db-journal
vertex-keys
projects
test
scripts
.DS_Store
README.md
public/audio/*
public/writing/*
public/avatars/*
public/uploads/*
